.u-section-1 .u-sheet-1 {
  min-height: 429px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 350px 82px 0 auto;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -38px 215px 0 auto;
}

.u-section-1 .u-text-1 {
  line-height: 1.1;
  margin: -331px auto 0 145px;
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 222px;
  background-image: url("https://images.unsplash.com/photo-1654751893479-d2d169b172c3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHwxMnx8Z2Vra298ZW58MHx8fHwxNzQxODEzMTg3fDA&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: 50% 50%;
  margin: -385px 188px 0 auto;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 68px 380px 55px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 370px;
    margin-right: 180px;
    margin-bottom: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-3 {
    margin-top: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 630px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -39px;
    margin-right: 16px;
    padding: 10px 4px 10px 2px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    width: auto;
    margin-top: -492px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 145px;
    height: 145px;
    margin-top: -604px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin: 480px auto 28px 0;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #3e4e5c, rgba(231, 28, 37, 0.5));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 103px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 262px 29px 369px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 162px;
    margin-left: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 52px;
    margin-left: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin: 15px -22px 15px 22px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 396px;
}

.u-section-3 .u-text-1 {
  margin: 41px 494px 0 82px;
}

.u-section-3 .u-group-1 {
  width: 591px;
  min-height: 383px;
  height: auto;
  margin: -52px -21px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-2 {
  margin: 16px -76px 0 82px;
}

.u-section-3 .u-text-3 {
  margin: 29px -4px 0 10px;
}

.u-section-3 .u-text-4 {
  margin: 16px -247px 0 10px;
}

.u-section-3 .u-text-5 {
  margin: -308px 570px 0 6px;
}

.u-section-3 .u-text-6 {
  margin: 26px 570px 30px 6px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 376px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-3 .u-group-1 {
    min-height: 365px;
    width: 324px;
    margin-top: 319px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -669px;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin: 8px 12px 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 202px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0 415px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 117px auto 0 508px;
}

.u-section-4 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -76px 108px 0 auto;
  padding: 10px 144px 10px 142px;
}

.u-section-4 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -40px auto 0 101px;
  padding: 10px 126px 10px 125px;
}

.u-section-4 .u-text-2 {
  margin: 9px 148px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: -29px auto 17px 128px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 343px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 308px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 88px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 197px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 167px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 177px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -129px;
    padding-right: 137px;
    padding-left: 136px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 91px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -113px;
    margin-left: auto;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(231, 28, 37, 0.5), rgba(62, 78, 92, 1));
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 126px;
}

.u-section-5 .u-text-1 {
  margin: 51px auto 51px 413px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 492px;
}

.u-section-6 .u-text-1 {
  margin: 47px 21px 0;
}

.u-section-6 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -40px auto 47px 204px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 60px;
    margin-left: auto;
  }
} .u-section-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #537459, #496885);
  background-size: cover;
}

.u-section-7 .u-sheet-1 {
  min-height: 58px;
}

.u-section-7 .u-text-1 {
  margin: 22px auto 0 362px;
}

.u-section-7 .u-text-2 {
  margin: -24px 364px 23px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 298px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 228px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 171px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 15px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 619px;
}

.u-section-8 .u-text-1 {
  margin: 41px 699px 41px 75px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: -21px;
    margin-right: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-9 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #3e4e5c, #537459);
  background-size: cover;
}

.u-section-9 .u-sheet-1 {
  min-height: 78px;
}

.u-section-9 .u-text-1 {
  margin: 32px 468px 32px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 140px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 514px;
}

.u-section-10 .u-text-1 {
  margin: 27px 95px 46px 74px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-left: 14px;
  }
} .u-section-11 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #f5d654, #3e4e5c);
  background-size: cover;
}

.u-section-11 .u-sheet-1 {
  min-height: 81px;
}

.u-section-11 .u-text-1 {
  margin: 29px auto;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 285px;
}

.u-section-12 .u-text-1 {
  margin: 31px auto 0 48px;
}

.u-section-12 .u-text-2 {
  margin: 21px auto 0 49px;
}

.u-section-12 .u-text-3 {
  margin: 31px auto 39px 49px;
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-12 .u-text-2 {
    margin-top: 24px;
    margin-left: auto;
  }
} .u-section-13 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #3e4e5c, #537459);
  background-size: cover;
}

.u-section-13 .u-sheet-1 {
  min-height: 79px;
}

.u-section-13 .u-text-1 {
  margin: 28px auto 28px 439px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-left: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    margin-left: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 484px;
}

.u-section-14 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px auto 0 70px;
}

.u-section-14 .u-text-2 {
  font-size: 1.25rem;
  margin: -143px 358px 0 535px;
}

.u-section-14 .u-text-3 {
  margin: -123px auto 0 280px;
}

.u-section-14 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 49px auto 0 70px;
  padding: 10px 56px 10px 55px;
}

.u-section-14 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -38px 427px 0 auto;
}

.u-section-14 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -40px auto 0 320px;
}

.u-section-14 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 810px 0 70px;
}

.u-section-14 .u-text-5 {
  font-size: 1.25rem;
  margin: -144px auto 0 278px;
}

.u-section-14 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0 71px;
}

.u-section-14 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -40px auto 23px 286px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-2 {
    margin-top: 14px;
    margin-right: 258px;
    margin-left: 435px;
  }

  .u-section-14 .u-text-3 {
    margin-top: -49px;
  }

  .u-section-14 .u-btn-1 {
    margin-top: -258px;
    margin-left: 0;
  }

  .u-section-14 .u-btn-2 {
    margin-top: 19px;
    margin-right: 227px;
    margin-left: 280px;
  }

  .u-section-14 .u-btn-3 {
    margin-top: 180px;
    margin-left: 120px;
  }

  .u-section-14 .u-text-4 {
    margin-top: -488px;
    margin-right: 680px;
    margin-left: 0;
  }

  .u-section-14 .u-text-5 {
    margin-top: 94px;
  }

  .u-section-14 .u-btn-4 {
    margin-top: -152px;
    margin-left: 0;
  }

  .u-section-14 .u-btn-5 {
    margin-bottom: 60px;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-2 {
    margin-top: -56px;
    margin-right: 148px;
    margin-left: 325px;
  }

  .u-section-14 .u-text-3 {
    margin-top: 11px;
    margin-left: 214px;
  }

  .u-section-14 .u-btn-1 {
    margin-top: -317px;
  }

  .u-section-14 .u-btn-2 {
    margin-top: 79px;
    margin-right: 7px;
    margin-left: 214px;
  }

  .u-section-14 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-14 .u-text-4 {
    margin-top: -479px;
    margin-right: 460px;
  }

  .u-section-14 .u-text-5 {
    margin-left: 213px;
  }

  .u-section-14 .u-btn-4 {
    margin-top: -221px;
  }

  .u-section-14 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-2 {
    margin-top: 63px;
    margin-right: 58px;
    margin-left: 235px;
  }

  .u-section-14 .u-text-3 {
    margin-left: 161px;
  }

  .u-section-14 .u-btn-1 {
    margin-top: -375px;
  }

  .u-section-14 .u-btn-2 {
    margin-top: 136px;
    margin-right: 0;
    margin-left: 161px;
  }

  .u-section-14 .u-text-4 {
    margin-top: -598px;
    margin-right: 280px;
  }

  .u-section-14 .u-text-5 {
    margin-left: 160px;
  }

  .u-section-14 .u-btn-4 {
    margin-top: -159px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.1111111111111112rem;
    width: auto;
    margin-top: 10px;
    margin-left: 77px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1.1111111111111112rem;
    width: auto;
    margin-top: 222px;
    margin-right: 32px;
    margin-left: 61px;
  }

  .u-section-14 .u-text-3 {
    width: auto;
    margin-top: -278px;
    margin-left: auto;
  }

  .u-section-14 .u-btn-1 {
    margin-top: -172px;
    margin-left: auto;
    padding-right: 85px;
    padding-left: 83px;
  }

  .u-section-14 .u-btn-2 {
    margin-top: 309px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
  }

  .u-section-14 .u-btn-3 {
    margin-top: -242px;
    margin-left: auto;
  }

  .u-section-14 .u-text-4 {
    font-size: 1.1111111111111112rem;
    width: auto;
    margin-top: 234px;
    margin-right: 14px;
    margin-left: 66px;
  }

  .u-section-14 .u-text-5 {
    font-size: 1.1111111111111112rem;
    width: auto;
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-14 .u-btn-4 {
    margin-top: -202px;
    margin-left: auto;
    padding: 10px 58px;
  }

  .u-section-14 .u-btn-5 {
    margin-top: 163px;
    margin-left: auto;
    margin-bottom: 22px;
    padding: 10px 50px 10px 48px;
  }
}